@tailwind base;
@tailwind components;
@tailwind utilities;

/* E.W.O.C. Global Styles */
body {
  @apply bg-slate-950 text-slate-300;
}

/* Custom Scrollbar for inner components */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6366f1; /* indigo-500 */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #818cf8; /* indigo-400 */
}
