global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    # Timeout tunnel è fondamentale per mantenere aperte le connessioni SSE
    timeout tunnel  3600s

# Risoluzione DNS Docker (Globale)
resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    hold valid 2s

# Monitoraggio Stats Dashboard
listen stats
    bind :8404
    stats enable
    stats uri /stats
    stats refresh 5s
    stats admin if LOCALHOST

frontend http-in
    bind :80
    
    # ACL per distinguere il traffico API dal Frontend
    acl is_api path_beg /api/v1/
    
    use_backend backend_replicas if is_api
    default_backend frontend_app

backend backend_replicas
    balance roundrobin
    # Rimuoviamo il prefisso /api/v1/ prima di passare la richiesta al backend
    http-request set-path %[path,regsub(^/api/v1/,/)]
    
    # Healthcheck attivo
    option httpchk GET /health
    http-check expect status 200
    
    # Template per 10 repliche dinamiche
    server-template s 1-10 processing_service:8000 check resolvers docker_dns init-addr last,libc,none inter 2s fall 1 rise 999999

backend frontend_app
    balance roundrobin
    server web1 frontend:80 check resolvers docker_dns init-addr last,libc,none
