global
    # quiet: Silenzia i messaggi di avvio (forked worker, loading success, etc.)
    quiet
    # Solo messaggi critici o superiori (crit, alert, emerg)
    log stderr format raw local0 crit
    maxconn 4096

defaults
    # Eredita il log globale (ora impostato su crit)
    log     global
    mode    http
    option  dontlognull
    # Confermiamo la disattivazione dei log degli healthcheck
    no option log-health-checks
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    timeout tunnel  3600s

# Risoluzione DNS Docker
resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    hold valid 2s

listen stats
    bind :8404
    stats enable
    stats uri /stats
    stats refresh 5s

frontend http-in
    bind :80
    acl is_api path_beg /api/v1/
    
    use_backend backend_replicas if is_api
    default_backend frontend_app

backend backend_replicas
    balance roundrobin
    http-request set-path %[path,regsub(^/api/v1/,/)]
    
    no option log-health-checks

    # LOG PERSONALIZZATO: Forziamo il messaggio a livello 'crit' per bypassare i filtri
    # ma mantenere solo questo log in console.
    log-format "-> Server: %s | %r"
    log stderr format raw local0 crit
    
    option httpchk GET /health
    http-check expect status 200
    
    server-template s 1-10 processing_service:8000 check resolvers docker_dns init-addr last,libc,none inter 2s fall 3 rise 2

backend frontend_app
    balance roundrobin
    no log
    server web1 frontend:80 check resolvers docker_dns init-addr last,libc,none
